@media (max-width: 600px) {
	html {
		font-size: 9px;
	}
	.mobileHidden {
		display: none;
	}
	.desktopHidden {
		width: 350px;
		display: block;
		border-radius: 1rem 1rem 0rem 0rem;
	}

	.productCard {
		display: flex;
		flex-direction: column;
	}
	.productDescryption {
		width: 350px;
		border-radius: 0rem 0rem 1rem 1rem;
	}

	.addButton {
		margin-bottom: 3rem;
	}
}
